{{#extends 'base'}}

{{#block "content"}}
<h1 class="mt-3">-</h1>

<div class="container mt-5">
    <div class="text-center">

<h1>MetaShop</h1>
<h3 class="mt-3">No worries about money!</h3>
</div>

<table class="table">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Category</th>
        <th>Cost</th>
        <th>Tags</th>
        <th>Description</th>
        {{!-- display the image --}}
        <th>Image</th>
        <th></th>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.category.name}}</td>

            <td>{{this.cost}}</td>
            {{!-- for each tag, display the tag name --}}
            <td>
                {{#each this.tags}}
                {{!-- this in this.name refer to this.tags --}}
                <span class="badge bg-primary">{{this.name}}</span>  
                {{/each}}
            </td>
            <td>{{this.description}}</td>
            <td>
                {{#if this.image_url}}
                <img src="{{this.image_url}}" />
                {{/if}}
            </td>
            <td style="width: 200px">
                <a href="/cart/add/{{this.id}}" class="btn btn-success btn-sm">AddCart</a>
                <a href="/products/update/{{this.id}}" class="btn btn-primary btn-sm">Edit</a>
                <a href="/products/delete/{{this.id}}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
{{/block}}

{{/extends}}